.kitchen__title {
  font-family: GothamProBold;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-bottom: 80px;
}