@import url('../fonts/fonts.css');
@import url('./header/header.css');
@import url('./logo/logo.css');
@import url('./header-content/header-content.css');
@import url('./menu/menu.css');
@import url('./button/button.css');
@import url('./button/_type/button_type_booking.css');
@import url('./button/_type/button_type_kitchen.css');
@import url('./card-list/card-list.css');
@import url('./card/card.css');
@import url('./kitchen/kitchen.css');


.page {
  box-sizing: border-box;
  margin: 0;
  background-color: #210e09;
  color: white;
  font-family: "Stolzl", sans-serif;
  text-rendering: optimizeLegibility;
}

.kitchen-card__title {
  margin: 5.5px 0px 0px;
  font-family: GothamProBold;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button__kitchen-card {
  position: absolute;
  top: 5.5px;
  right: 0;
}

.kitchen-card__weight {
  margin: 0;
  padding: 5.5px 0px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #d5621d;
}

.kitchen-card__text {
  margin: 0;
  padding: 0;
  font-family: Stolz;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: white;
}

.kitchen__button {
  margin-top: 40px;
  background: #d5621d;
  border-radius: 5px;
  padding: 15px 30px;
  width: 171px;
  height: 57px;
}

.kitchen__carousel-button {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  width: 50px;
  height: 50px;
}

.kitchen__carousel-button_prev::after {
  position: absolute;
  top: 15px;
  left: 18px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(45deg);
}

.kitchen__carousel-button_next::after {
  position: absolute;
  top: 15px;
  right: 18px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(-135deg);
}

.events {
  max-width: 1305px;
  margin: 0 auto;
  padding: 150px 0px;
  display: flex;
  justify-content: space-between;
}

.events__item {
  max-width: 376px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 0px;
  background-color: white;
  border-radius: 5px;
  width: 260px;
  height: 38px;
  font-family: GothamProBold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #210e09;
}

.events__subtitle {
  box-sizing: border-box;
  margin: 40px auto 35px;
  padding: 0px;
  font-family: GothamProBold;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.events__text {
  font-family: Stolzl;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.events__text_middle {
  margin: 14px 0px;
}

.events__text:last-of-type {
  margin-bottom: 35px;
}

.button__events {
  padding: 15px 30px;
  width: 156px;
  height: 51px;
  font-family: Stolzl;
  font-size: 14px;
  line-height: 150%;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.events__image {
  width: 416px;
  object-fit: cover;
}

.techrider {
}

.techrider__subtitle {
  margin-bottom: 80px;
  font-family: GothamProBold;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.techrider__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 150px;
  width: 1080px;
}

.list-techrider {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 526px;
}

.list-techrider__item {
  border-radius: 5px;
  padding: 20px 40px;
  background: rgba(213, 98, 29, 0.1);
}

.list-techrider__item_active {
  background: #d5621d;
  padding-bottom: 25px;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-techrider__title {
  font-family: GothamProBold;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.list-techrider__button {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
}

.list-techrider__button::before {
  position: absolute;
  top: 3px;
  left: 7px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(315deg);
}

.list-techrider__text {
  display: none;
}

.list-techrider__text_active {
  display: block;
  padding: 0 0 0 15px;
  list-style-type: disc;
  background: #d5621d;
  font-family: Stolzl;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: white;
}

.audiodirectors {
  max-width: 420px;
}

.audiodirectors__title {
  margin: 0 auto 50px;
  font-family: GothamProBold;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.audiodirectors__cards {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.audiodirectors__dj-image {
  display: block;
  width: 196px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 30px;
}

.audiodirectors__name {
  width: 155px;
  height: 40px;
  margin: 0 auto 25px;
  text-align: center;
  font-family: GothamProBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
}

.audiodirectors__name_type_short {
  width: 100px;
  /*new commit*/
}

.audiodirectors__links {
  display: flex;
  justify-content: space-between;
  width: 105px;
  height: 40px;
  margin: 0 auto;
}

.audiodirectors__link {
  display: block;
  box-sizing: border-box;
  border: 2px solid #d5621d;
  border-radius: 5px;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.audiodirectors__icon {
  display: block;
  box-sizing: border-box;
  width: 16px;
  object-fit: cover;
  object-position: center;
}

.contacts {
  margin: 0 auto;
  max-width: 1300px;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts__subtitle {
  font-family: GothamProBold;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-bottom: 80px;
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.contacts__item {
  box-sizing: border-box;
  border: 2px solid #d5621d;
  border-radius: 5px;
  width: 416px;
  height: 656px;
  background: rgba(213, 98, 29, 0.1);
  padding: 50px;
}

.contacts__head {
  padding: 0;
  margin: 0px 0px 20px;
  font-family: GothamProBold;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.contacts__text {
  padding: 0;
  margin: 0px 0px 35px;
  font-family: Stolzl;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.contacts__text:nth-of-type(3) {
  padding-bottom: 44px;
  margin: 0px 0px 45px;
  border-bottom: 1px solid white;
  width: 316px;
}

.contacts__map {
  border: 2px solid #d5621d;
  border-radius: 5px;
  width: 856px;
  height: 656px;
  background-image: url("./images/map__static.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0 auto;
  border-top: 1px solid white;
  width: 1296px;
  opacity: 0.5;
  padding: 30px 0px;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-family: Stolzl;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
