@font-face {
  src: url("./Stolzl_Regular.woff2") format("woff2"),
    url("./Stolzl_Regular.eot") format("embedded-opentype"),
    url("./Stolzl_Regular.ttf") format("truetype"),
    url("./stolzl_regular.otf") format("opentype"),
    url("./Stolzl_Regular.woff") format("woff");
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("./Gotham/GothamPro-Bold.woff2") format("woff2"),
    url("./Gotham/GothamPro-Bold.eot") format("embedded-opentype"),
    url("./Gotham/GothamPro-Bold.ttf") format("truetype"),
    url("./Gotham/GothamPro-Bold.woff") format("woff");
  font-family: "GothamProBold";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url("./Gotham/GothamPro-Black.woff2") format("woff2"),
    url("./Gotham/GothamPro-Black.eot") format("embedded-opentype"),
    url("./Gotham/GothamPro-Black.ttf") format("truetype"),
    url("./Gotham/GothamPro-Bold.woff") format("woff");
  font-family: "GothamProBlack";
  font-style:normal;
  font-weight: 900;
}
