.header-content__btn {
  border-radius: 5px 5px 0 0;
  border: 0px;
  width: 208px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  font-family: GothamProBold;
  color: white;
  background: rgba(213, 98, 29, 0.05);
}

